<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tiene un nuevo reporte en HelpDesk</h1>
    <p>
        puede acceder a el en su panel de control en el area de <a href="https://helpdesk-sonnica.herokuapp.com/reports">"Reportes recibidos"</a>
    </p>
  </body>
</html>