<div class="portada ">
    <ul class="no-list">
        <li><%= image_tag "Sonnica_logo-01.png",class:"image-rae"%></li>    
    </ul>
    <div class=" col-xs-6 parrafo">
    <p><b>Bienvenido a nuestra plataforma de seguimiento de reportes Helpdesk.</b></p>    
    </div>
    
</div>